.navbar {
  background: #1876f2;
  height: 50px;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo a {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.img_user {
  width: 40px;
  height: 40px;
}
.nav_right .search {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #efefef;
  padding: 7px 15px;
  border-radius: 20px;
  width: 350px;
}
.nav_right .search input {
  width: 100%;
  background: transparent;
  border: none;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  letter-spacing: 0.6px;
}
.nav_right .search span {
  font-size: 17px;
  color: cadetblue;
  cursor: pointer;
}
.img_user {
  margin-left: 15px;
}
.img_user::after {
  content: '';
  position: absolute;
  top: 5px;
  right: -3px;
  width: 8px;
  height: 8px;
  background-color: rgb(78, 209, 78);
  border: 1px solid #fff;
  border-radius: 50%;
}

.img_user img {
  border-radius: 50%;
  cursor: pointer;
}

.user_menu {
  position: absolute;
  top: calc(100% + 10px);
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.3);
  right: 0;
  border-radius: 10px;
  min-width: 300px;
}
.user_menu .u_m_profile {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #b6b6b6;
}
.user_menu .u_m_profile div {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.user_menu .u_m_profile .menu_mode {
  width: 45px;
  height: 22px;
  background-color: #b6b6b6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.user_menu .u_m_profile .menu_mode b {
  width: 15px;
  height: 15px;
  background-color: #000;
  display: block;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
}
.user_menu .u_m_profile h4,
.user_menu .u_m_feedbak h4 {
  font-size: 14.6px;
  font-weight: bold;
  color: #444343;
  cursor: pointer;
}
.user_menu .u_m_profile small a {
  font-size: 12px;
  color: #1876f2;
}
.user_menu .u_m_feedbak small {
  font-size: 12px;
  color: #1876f2;
}
.user_menu .u_m_feedbak {
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #b6b6b6;
  display: flex;
  align-items: center;
}
.user_menu .u_m_profile img,
.user_menu .u_m_feedbak img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user_menu .u_m_feedbak span,
.user_menu .u_m_drop span:first-child {
  width: 35px;
  height: 35px;
  background-color: #efefef;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(63, 60, 60);
  cursor: pointer;
}
.user_menu .u_m_feedbak span {
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
}
.u_m_drop article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.u_m_drop article div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.u_m_drop article div h4 {
  font-size: 13.6px;
  color: #636060;
  cursor: pointer;
}
.user_menu .u_m_drop span:last-child {
  transform: rotate(270deg);
  color: #636060;
}

@media (max-width: 992px) {
  .nav_right .search {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .nav_right .search {
    display: none;
  }
  .navbar {
    height: 53px;
  }
}
