.content_post {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.co_post_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.co_post_user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.co_post_user .post_user_con {
  display: flex;
  align-items: center;
  gap: 15px;
}
.co_post_user p {
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.co_post_user small {
  font-size: 13px;
  color: rgb(148, 142, 134);
}
.co_post_user .post_user_icon {
  font-size: 16px;
  color: rgb(148, 142, 134);
  margin-right: 0;
  cursor: pointer;
}
.c_post-text p {
  font-size: 15px;
  line-height: 1.6s;
  color: rgb(148, 142, 134);
  margin-bottom: 20px;
}
.c_post-text {
  margin-bottom: 10px;
}
.c_post-text span {
  color: #000;
  font-size: 15px;
}
.c_post-text a {
  color: #1876f2;
  font-size: 15px;
}
.c_post-text img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}
.c_post_comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c_post_comment span {
  margin-right: 20px;
  cursor: pointer;
}

.c_post_comment .p_comment_img {
  display: flex;
  align-items: center;
}
.c_post_comment .p_comment_img img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 4px;
}
.c_post_comment .p_comment_img svg {
  font-size: 11px;
}
@media (max-width: 576px) {
  .c_post-text img {
    height: 300px;
  }
  .c_post-text p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .c_post-text a,
  .c_post-text span {
    font-size: 14px;
  }
  .co_post_user {
    margin-bottom: 15px;
  }
}
