.r_sidbar {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  padding: 15px 15px 10px;
  margin-bottom: 20px;
  overflow: scroll;
}
.message_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.message_head h2 {
  color: #000;
  font-size: 16px;
  letter-spacing: 0.7px;
}
.message_head svg {
  color: #000;
  font-size: 18px;
}

.r_m_search {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #efefef;
  padding: 12px 15px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.r_m_search input {
  width: 90%;
  background: transparent;
  border: none;
  height: 100%;
  border: none;
  outline: none;
  font-size: 13px;
  letter-spacing: 0.6px;
}

.r_m_content ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.r_m_content ul li {
  font-weight: bold;
  font-size: 14px;
}
.r_m_content ul li.active::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: -15px;
  background-color: #000;
  width: 23%;
  height: 3px;
  z-index: 100;
}
.r_m_content ul li::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: -15px;
  background-color: rgb(228, 225, 225);
  display: block;
  width: 100%;
  height: 3px;
}
.r_m_content .message_body {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.r_m_content .message_body article:not(:last-child) {
  margin-bottom: 13px;
}
.r_m_content .message_body article {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}
.r_m_content .message_body article:first-child .image::after,
.r_m_content .message_body article:nth-child(3) .image::after,
.r_m_content .message_body article:last-child .image::after {
  content: '';
  position: absolute;
  left: 28px;
  bottom: 6px;
  width: 7px;
  height: 7px;
  background-color: rgb(78, 209, 78);
  border-radius: 50%;
  border: 1px solid #fff;
}
.r_m_content .message_body img {
  width: 35px;
  height: 35px;
  border-radius: 30px;
}
.r_m_content .message_body h4 {
  font-size: 13px;
  margin-bottom: -3px;
}

.r_m_content .message_body small {
  font-weight: bold;
  font-size: 11px;
}

@media (max-width: 992px) {
  .r_sidbar {
    display: none;
  }
}
