.content {
  position: relative;
  top: 70px;
}
.content .container {
  display: flex;
  column-gap: 20px;
}

.left_sidbar {
  flex-basis: 19%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
}
.right_sidbar {
  flex-basis: 26%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
}
.main_content {
  flex: 1;
}

@media (max-width: 1200px) {
  .left_sidbar {
    flex-basis: 9%;
  }
  .right_sidbar {
    flex-basis: 29%;
  }
  .content .container {
    column-gap: 15px;
  }
}
@media (max-width: 992px) {
  .left_sidbar {
    flex-basis: 0%;
    gap: 0;
  }
  .right_sidbar {
    flex-basis: 5rem;
    gap: 0;
  }

  .content .container {
    column-gap: 0 !important;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .left_sidbar {
    flex-basis: 0%;
    gap: 0;
  }
  .right_sidbar {
    gap: 0;
    flex-basis: 0%;
  }
}
